<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "OkNameChanges" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <%= render 'layouts/nav' %>
    <% if !notice.nil? %>
      <div class="row">
        <div data-alert class="alert-box info radius">
          <%= notice %>
          <a href="#" class="close">&times;</a>
        </div>
      </div>
    <% end %>

    <% if !alert.nil?%>
      <div class="row">
        <div data-alert class="alert-box alert radius">
          <%= alert %>
          <a href="#" class="close">&times;</a>
        </div>
      </div>
    <% end %>

  <div class="row">
    <div class="columns large-12 medium-12 small-12">
      <%= yield %>
    </div>
  </div>

  </body>
</html>
